/* Only colors used to style */
:root {
    --dark: #212f3d;
    --light: #85c1e9;
}

/* Univeral selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Font used for entire body element selector */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Targets header element selector properties */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
    background-color: var(--dark);  
}

/* targets h1 element selector text-block */
h1 {display: inline-block;
    font-size: 48px;
    color: var(--dark);
    text-align: right;
    width: 350px;
    padding-right: 10px;
    margin-left: -15px;
    margin-top: -13px;
    box-sizing: border-box;
    position: relative;
    background: var(--light);
}

/* Targets all nav bar properties */
header nav {
    padding-top: 10px;
    flex: 1;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav a {
color: var(--light);
}

/* Targets banner properties */
.hero {
    height: 150px;
    width: 100%;
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
}

.hero img {
    height: 100%;
}

/* Targets main-section class selector properties */
.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Targets p element selector */
p {
    margin: 1% 0;
    font-size: 12px;
    line-height: 1.5;
    color: var(--dark);
}

/* Targets main-section h2 properties */
.main-section h2 {
    color: var(--dark);
    border-right: var(--dark) 2px solid;
    font-size: 32px;
    text-align: right;
    padding: 20px;
    height: 100%;
}

/* content class selector targets p element content */
.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}

/* Tagets big box properties */
.big-box {
    height: 300px;
    background-image: url("../images/Horiseon.png");
    background-size: cover;
    border: var(--light) 2px solid;
    margin-bottom: 8px;
}

.content a {
    width: 100%;
}

/* Targets small boxes properties */
.small-box {
    width: 49%;
    height: 100px;
    border: var(--light) 2px solid;
    overflow: hidden;
}

/* Targets entire row of small boxes */
.box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* Targets h2 element properties */
.title {
    display: flex;
    flex-direction: column;
    width: 25%; 
}
 
/* Targets h3 element selector properties */
 h3 { 
    display: inline-block;
    font-size: 12px;
    color: var(--dark);

}

/* Targets p element inside the text-block inside the small boxes */
.small-box p {
    margin: 1% 0;
    font-size: 8px;
    line-height: 1.5;
    color: var(--dark); 
} 

/* placeholder images from pexels.com */
.images {
    width: 100%;
}

/* Targets container class position */
.container {
    position: relative;
  }

  /* Targets text-block properties for big box */
  .text-block-big {
    position: absolute;
    bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--light);
    color: var(--dark);
    
}

/* Targets text-block properties for small boxes */
.text-block {
    position: absolute;
    top: 55px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--light);
    color: var(--dark);
    
}

/* Targets footer-section class selector properties */
.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}

/* Targets h2 for footer-section class properties */
.footer-section h2 {
    color: var(--dark);
    border-right: var(--dark) 2px solid;
    font-size: 32px;
    text-align: right;
    padding: 20px;
    height: 100%;
}

/* Targets ul element properties */
.footer-section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-section ul li {
    display: inline-block;
    margin: 25px;
}

/* adds text color to li items */
.footer-section a {
    color: var(--dark);
}

@media screen and (max-width: 320px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .title {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
    .box-row {
        flex-direction: column;
        margin: 0;
    }
    .big-box {
        min-width: 100%;
    }
    .small-box {
        min-width: 300px;
        margin: 5px;
    }
}

@media screen and (max-width: 630px) {
    .main-section {
        flex-direction: column;
    }

    .content {
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    .title {
        width: 100%;
        align-items: center;
    }

    .main-section h2 {
        border-right: none;
        border-bottom: var(--dark) 2px solid;
        width: 50%;
        text-align: center;
    }

    .footer-section {
        flex-direction: column;
    }

    .footer-section h2 {
        border-right: none;
        border-bottom: var(--dark) 2px solid;
        width: 50%;
        text-align: center;  
    }
    .box-row {
        flex-direction: column;
        margin: 0;
    }
    
    .small-box {
        min-width: 100%;
        margin: 5px;
    }
}