:root {
    --dark: #212f3d;
    --light: #85c1e9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
    background-color: var(--dark);  
}

h1 {display: inline-block;
    font-size: 48px;
    color: var(--dark);
    text-align: right;
    width: 350px;
    padding-right: 10px;
    margin-left: -15px;
    margin-top: -13px;
    box-sizing: border-box;
    position: relative;
    background: var(--light);
}

header nav {
    padding-top: 15px;
    flex: 1;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav a {
color: var(--light);
}

.hero {
    height: 150px;
    width: 100%;
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
}

.hero img {
    height: 100%;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin: 1% 0;
    font-size: 12px;
    line-height: 1.5;
    color: var(--dark);
}

.main-section h2 {
    color: var(--dark);
    width: 20%;
    border-right: var(--dark) 2px solid;
    font-size: 32px;
    text-align: right;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}

.big-box {
    width: 100%;
    height: 300px;
    background-color: red;
    border: solid;
}

.small-box {
    width: 50%;
    height: 100px;
    background-color: blue;
    border: solid;
}

.box-row {
    display: flex;
    flex-direction: row;
}